/* Global Stlyes */
::-webkit-scrollbar{
  position: relative;
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background-color: $color-primary;
  border-radius: 3px;
}
a:hover{
  text-decoration: none;
}
button, button:focus{
  outline: none !important;
  box-shadow: none !important;
}
.transition-300{
  transition: $transition-300;
}
.transition-500{
  transition: $transition-500;
}
.shadow{
  box-shadow: $shadow;
}
.shadow-xl{
  box-shadow: $shadow-xl;
}