/* Special Price */ 
#special-price{
  .grid .grid-item{
    margin-right: 1.2rem;
    margin-top: 1rem;
    box-shadow: $shadow;
    transition: $transition-500;
    &:hover{
      box-shadow: $shadow-2xl;
    }
  }
}