/* Variables */
$font-jost: 'Jost', cursive;
$font-raleway: 'Raleway', cursive;
$font-rubik: 'Rubik', cursive;
$color-primary: #003859;
$color-secondary: #00a5c4;
$color-yellow: #ffd289;
$transition-300: 0.3s ease;
$transition-500: 0.5s ease;